@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  color: rgba(0, 189, 126, 0.651);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
strong {
  font-weight: bolder !important;
  color: rgb(197 136 21 / 94%);
}
code {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  padding: 2px;
}

@media (min-width: 1024px) {
}
